
<div id="sidemenu">
    <%=image_tag 'logo.jpg'%>
    <article><h3> Doctor And Patient Scheduler</h3></article>
    <ul>
        <li><%= link_to "Home", appointments_path %></li>
        <li><%= link_to "Set Schedule", appointments_path %></li>
        <li><%= link_to "Add Patient", patients_path %></li>
        <li><%= link_to "Add Doctor", doctors_path %></li>

    </ul>


</div>
